.custom-navbar {
 .empty {

 }
 .NavBar {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 10px;
     position: relative;
     .icon {
         position: absolute;
         top: 50%;
         left: 5%;
         transform: translate(-50%, -50%);
     }
 }
}